@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Pacifico&display=swap');

/* -------------------------- */
/* Made by _________________ */
/* -------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-family: sans-serif;
}

body,
div,
a,
p,
h1,
h2,
h3,
h6 {
  font-family: 'Nunito Sans', sans-serif;
}
/*.......Header........*/
.header {
  font-family: 'Nunito Sans', sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  text-align: center;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.nav-links {
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  color: rgb(32, 32, 32);
  border-radius: 4px;
}

nav a:hover {
  color: #fe8e5e;
}

.demo {
  text-decoration: none;
  margin-top: 12px;
  font-size: 30px;
}

.btn {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: saddlebrown;
  background-color: #fe8e5e;
  color: #ffefe0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  nav {
    margin-top: 10px;
  }

  .demo {
    margin-top: 0;
    font-size: 24px;
  }

  .btn {
    width: 150px;
  }
}

.social-media {
  filter: none;
  transition: scale 0.2s ease-in;
}
.social-media:hover {
  scale: 1.25;
}

/*........Main Content _ Index .......*/
/*.......................................*/

.main-content {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.main-content > div {
  width: 50%;
}

.paragraph {
  text-align: justify;
}

.features > .feature > p {
  text-align: justify;
}
.features > .feature > img {
  max-width: 150px;
  aspect-ratio: 1/1;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .main-content > div {
    width: 100%;
  }

  .features {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* flex-wrap: wrap; */
  }
}

@media screen and (max-width: 600px) {
  .features {
    flex-wrap: wrap;
  }
}

/*........Main Content _ news .......*/
/*.......................................*/

.main-content-news {
  width: 100%;
  height: fit-content;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}



/*.......... Footer ...........*/

.link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

.link a:hover {
  color: #fe8e5e;
}

.demo-studio {
  font-size: 32px;
  width: 100%;
  text-align: center;
  margin: 10px;
}

.footer-subtitle {
  font-size: 0.75em;
  width: 100%;
  text-align: center;
}

.footer-links > a {
  font-size: 1em;
  text-decoration: none;
  color: rgb(41, 40, 43);
}
.footer-links > a:active {
  color: rgb(41, 40, 43);
  background-color: transparent;
}
.social-right {
  align-items: center;
  text-align: center;
  margin: 30px;
}

.icon {
  align-items: center;
  text-align: center;
}

.icon img {
  margin: 20px 20px 0 0;
  width: 30px;
  height: 30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .link {
    flex-wrap: wrap;
  }

  .DemoStudio {
    font-size: 30px;
    margin-top: 0;
  }

  .icon img {
    margin: 10px;
    width: 20px;
    height: 20px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .main-content > div {
    width: 100%;
  }

  .features {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* flex-wrap: wrap; */
  }
}
